h1{
    font-family:'Rochester', cursive;
    color:#fffef7;
    font-size: 6rem;
    text-align: center;
}
p, h2, h3, h4, h6, label, input, ul, button{
    font-family: 'Lato', 'sansserif';
    word-spacing: 8px;
}
h6{
    font-weight: bold;
}
h2{
    color:#fffef7;
    font-size: 18px;
    text-align: center;
}
#title{
    background-color:#070838;
}
/* .col-lg-6, .col-lg-12{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
} */
#ingredient-input{
    border:1px solid #070838;
    border-radius: .5rem;    
}


.card-img-top{
    width:100%;
    
}
.card{
    max-width: 300%;
}

.footer{
    bottom: 0;
    margin-top:auto;
    text-align: center;
    background-color:#070838;
    color: #fffef7;
    font-size: 12px;
}
.btn-primary {
    background-color: orangered;
    border-color: orangered;
}
.btn-outline-success {
    color: white;
    background-color: orangered;
    border-color: orangered;
}
.food-title {
   padding: 1rem; 
   position:  sticky;
}
body{
    height:100vh;
    display:flex; 
    flex-direction:column; 
  }

#wineCont{
    margin:1rem;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    font-weight:bold;
}
#wine-demo{
    display: none;
}
/* <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by freepik - www.freepik.com</a>
<a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@tuckergood?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Tucker Good"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Tucker Good</span></a> */